/* body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

.search_box{
    display:flex;
    
}
.search_box input{
    width: 10%;
}
 */
 body {
 font-family:'Roboto';
}

 iframe{
    opacity: 1; 
    position: static; 
    z-index: 1; 
    top: 0px; 
    height: 400px; 
    width: 700px !important;
    /* scrolling"no" 
    frameborder="0" marginheight: 0; marginwidth="0" */
 }
 
 input{
     height: 40px;
     width: 900px;
     margin-bottom: 5%;

 }

 button{
     height: 40px;
     width:70px;
 }