body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

/* .search_box input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.search_box button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search_box button:hover {
    background: #0b7dda;
}

.search_box::after {
    content: "";
    clear: both;
    display: table;
} */
.search_box{
    display:flex;
    
}
.search_box input{
    width: 10%;
}

.grid{
    height: 400px;
    width: 700px;
    border: solid;
    margin:20px;
}
